# Introduction to pandas
<b>Contents</b>
- Most useful functions
- pandas Datatypes
- Importing & Exporting Data
- Describing data
- viewing & selecting data
- manipulating data

In [ ]:
import pandas as pd

## 2 main datatypes

- Series = 1 dimensional
- DataFrame = 2 dimensional

In [ ]:
#series
cars = pd.Series(["BMW", "Toyota", "Honda"])

In [ ]:
cars

In [ ]:
colours = pd.Series(["Red", "Blue", "Black"])

In [ ]:
colours

In [ ]:
#data-frame
car_data = pd.DataFrame({"Car make":cars, "Colour":colours})

In [ ]:
car_data

 ### Import data in the form of a dataframe 
 - importing from csv
 - importing from url
 - exporting

In [ ]:
car_sales = pd.read_csv("car-sales.csv")

In [ ]:
car_sales

### Exporting the dataframe

In [ ]:
car_sales.to_csv("exported-car-sales.csv",index=False)

## Anatomy of a DataFrame

![](pandas-anatomy-of-a-dataframe.png)

In [ ]:
#importing from a url
heart_disease = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv")

In [ ]:
heart_disease

## Describing Data
<b>Attributes (the one without the brackets)</b>
- dtypes
- columns
- index

<b>Functions(the one with brackets)</b>
- describe()
- info()
- mean()
- sum()
- len(name of the dataframe)

In [ ]:
car_sales.dtypes 
#here, dtypes is an attribute

In [ ]:
car_sales.columns

In [ ]:
car_sales.index

In [ ]:
car_sales.describe()
#here describe() is a function

In [ ]:
car_sales.info()

In [ ]:
car_sales.mean()

In [ ]:
#car_sales.Doors.mean()
car_sales["Doors"].mean()

In [ ]:
car_prices = pd.Series([3000,1500,111250])
car_prices.mean()

In [ ]:
car_sales["Doors"].sum()

In [ ]:
len(car_sales)

## Viewing and Selecting data
- head()
- tail()
- .loc() & slicing with it
- .iloc() & slicing with it
- selecting a column (with and without a filter)

In [ ]:
car_sales.head()

In [ ]:
car_sales

In [ ]:
car_sales.tail()

<b> .loc and .iloc </b>

In [ ]:
animals = pd.Series(["cat", "dog", "mouse","panda","snake"], index= [0,3,9,8,3])

In [ ]:
animals

In [ ]:
animals.loc[3]
#loc stands for location. basically the index number

In [ ]:
car_sales.loc[3]

In [ ]:
animals.iloc[3]
#iloc refers to position

In [ ]:
car_sales.iloc[3]

<b> with loc and iloc we can use slicing</b>

In [ ]:
animals.iloc[:3]
#gives position upto 3

In [ ]:
car_sales.loc[:3]

In [ ]:
#selecting a particular column
car_sales["Make"]

In [ ]:
car_sales.Make #does the same thing as the previous block

#If your column name has space in it then the dot notation wont work. Lets try it with the column "Odometer (KM)"

In [ ]:
#car_sales.Odometer (KM)

In [ ]:
car_sales["Odometer (KM)"]

In [ ]:
#selecting a column with a filter
car_sales[car_sales["Make"] == "Toyota"]

In [ ]:
car_sales[car_sales["Odometer (KM)"]>100000]

In [ ]:
car_sales

## Comparing 2 Columns
- crosstab() 
    - can compare the two given columns
- groupby() 
    - can be used to compare more than 2 columns - basically compares all the numeric columns with the given column

In [ ]:
pd.crosstab(car_sales["Make"], car_sales["Doors"])         
#only good for comparing 2 colums

In [ ]:
#pd.crosstab(car_sales["Make"], car_sales["Doors"], car_sales["Price"])  #gonna throw an erro

In [ ]:
#groupby
car_sales.groupby(["Make"]).mean()

In [ ]:
car_sales.groupby(["Doors"]).mean()

In [ ]:
car_sales.groupby(["Colour"]).mean()

## Visualising Data
- .plot()
- .hist()

In [ ]:
car_sales["Odometer (KM)"].plot()

In [ ]:
#if your plot doesnt show up then run - 
    # %matplotlib inline
    # import matplotlib.pyplot as plt

In [ ]:
car_sales["Odometer (KM)"].hist()

<b>
We know that our price column is not a numeric column i.e. if you look at the datatype of the column, its gonna come out to be 'object' instead of 'integer'
here's how you will convert a non numeric column to numeric
</b>

In [ ]:
car_sales["Price"] = car_sales["Price"].str.replace('[\$\,]','',regex= True).astype(float)

In [ ]:
car_sales["Price"].dtype

In [ ]:
car_sales.Price.plot()

In [ ]:
car_sales

## Manipulating Data
- Handling Missing data
- Adding a new column
    - Creating a column using pandas Series
    - Creating a column using python lists
    - Creating a column using a single value
- Sampling the dataset
- Performing functions on a column

In [ ]:
car_sales["Make"].str.lower()

In [ ]:
car_sales["Make"] = car_sales["Make"].str.lower()

In [ ]:
car_sales

In [ ]:
car_sales_missing = pd.read_csv('car-sales-missing-data.csv')
car_sales_missing

In [ ]:
car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean())

In [ ]:
car_sales_missing

In [ ]:
#here as you can see the missing values arent updated. Thats where the 'inplace' attribute comes in the picture
car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean(),inplace=True)

In [ ]:
car_sales_missing

In [ ]:
car_sales_missing_dropped = car_sales_missing.dropna()

In [ ]:
car_sales_missing_dropped

In [ ]:
car_sales_missing_dropped.to_csv('car-sales')

In [ ]:
car_sales_missing = pd.read_csv('car-sales-missing-data.csv')
car_sales_missing

### Creating a column using pandas Series
Here the size of the column(or the new series) doesnt have to be the same as the size of the dataframe

In [ ]:
#creating a column using pandas Series
seats_column = pd.Series([5,5,5,5,5])

In [ ]:
car_sales["Seats"] = seats_column

In [ ]:
car_sales

In [ ]:
car_sales["Seats"].fillna(5,inplace=True)

In [ ]:
car_sales

### Creating a column using python lists
Here the size of the list has to be the same as the size of the dataframe or it will throw error

In [ ]:
#Creating a column using python lists
fuel_economy = [7.5,6.8,9.0,8.9,8.2,7.9,9.0,8.1,6.8,7.7]

In [ ]:
car_sales["Fuel per 100 KM"] = fuel_economy

In [ ]:
car_sales


Now let's create a new column thats gonna show the amount of fuel used by a car in it's entire lifetime <br>
For that we'll divide the (odometer) column by 100 and divide it by (fuel per 100 km) column

In [ ]:
car_sales["Total Fuel used in Litres"] = car_sales["Odometer (KM)"]/100 * car_sales["Fuel per 100 KM"]

In [ ]:
car_sales

### Creating a column from a single value

In [ ]:
car_sales["Number of wheels"] = 4

In [ ]:
car_sales

In [ ]:
'''
if you wish to drop some columns use - 
car_sales.drop("Doors", axis=1, inplace=True)

here, axis=1 denotes the column(refer the anatomy of pandas dataframe png)

'''

In [ ]:
car_sales.to_csv('car-sales-new-columns.csv', index=False)

## Sampling methods
Dividing and shuffling the dataset

In [100]:
car_sales.sample(frac=0.5)
#shuffling and only selecting 50% of the data

,Make,Colour,Odometer (KM),Doors,Price,Seats,Fuel per 100 KM,Total Fuel used in Litres,Number of wheels
2,toyota,Blue,32549,3,7000.0,5.0,9.0,2929.410,4
8,toyota,White,60000,4,6250.0,5.0,6.8,4080.000,4
7,honda,Blue,54738,4,7000.0,5.0,8.1,4433.778,4
1,honda,Red,87899,4,5000.0,5.0,6.8,5977.132,4
9,nissan,White,31600,4,9700.0,5.0,7.7,2433.200,4

In [102]:
car_sales_shuffled = car_sales.sample(frac=1)
car_sales_shuffled

,Make,Colour,Odometer (KM),Doors,Price,Seats,Fuel per 100 KM,Total Fuel used in Litres,Number of wheels
7,honda,Blue,54738,4,7000.0,5.0,8.1,4433.778,4
8,toyota,White,60000,4,6250.0,5.0,6.8,4080.000,4
6,honda,Blue,45698,4,7500.0,5.0,9.0,4112.820,4
1,honda,Red,87899,4,5000.0,5.0,6.8,5977.132,4
4,nissan,White,213095,4,3500.0,5.0,8.2,17473.790,4
5,toyota,Green,99213,4,4500.0,5.0,7.9,7837.827,4
2,toyota,Blue,32549,3,7000.0,5.0,9.0,2929.410,4
9,nissan,White,31600,4,9700.0,5.0,7.7,2433.200,4
0,toyota,White,150043,4,4000.0,5.0,7.5,11253.225,4
3,bmw,Black,11179,5,22000.0,5.0,8.9,994.931,4

In [103]:
car_sales_shuffled.reset_index(drop=True, inplace=True)
car_sales_shuffled

,Make,Colour,Odometer (KM),Doors,Price,Seats,Fuel per 100 KM,Total Fuel used in Litres,Number of wheels
0,honda,Blue,54738,4,7000.0,5.0,8.1,4433.778,4
1,toyota,White,60000,4,6250.0,5.0,6.8,4080.000,4
2,honda,Blue,45698,4,7500.0,5.0,9.0,4112.820,4
3,honda,Red,87899,4,5000.0,5.0,6.8,5977.132,4
4,nissan,White,213095,4,3500.0,5.0,8.2,17473.790,4
5,toyota,Green,99213,4,4500.0,5.0,7.9,7837.827,4
6,toyota,Blue,32549,3,7000.0,5.0,9.0,2929.410,4
7,nissan,White,31600,4,9700.0,5.0,7.7,2433.200,4
8,toyota,White,150043,4,4000.0,5.0,7.5,11253.225,4
9,bmw,Black,11179,5,22000.0,5.0,8.9,994.931,4

In [105]:
car_sales

,Make,Colour,Odometer (KM),Doors,Price,Seats,Fuel per 100 KM,Total Fuel used in Litres,Number of wheels
0,toyota,White,150043,4,4000.0,5.0,7.5,11253.225,4
1,honda,Red,87899,4,5000.0,5.0,6.8,5977.132,4
2,toyota,Blue,32549,3,7000.0,5.0,9.0,2929.410,4
3,bmw,Black,11179,5,22000.0,5.0,8.9,994.931,4
4,nissan,White,213095,4,3500.0,5.0,8.2,17473.790,4
5,toyota,Green,99213,4,4500.0,5.0,7.9,7837.827,4
6,honda,Blue,45698,4,7500.0,5.0,9.0,4112.820,4
7,honda,Blue,54738,4,7000.0,5.0,8.1,4433.778,4
8,toyota,White,60000,4,6250.0,5.0,6.8,4080.000,4
9,nissan,White,31600,4,9700.0,5.0,7.7,2433.200,4

### Performing functions directly on the columns
apply() is a way you can perform functions on columns <br>
lambda is a function, it takes x and returns x/1.6

In [106]:
car_sales["Odometer(Miles)"] = car_sales["Odometer (KM)"].apply(lambda x:x/1.6)

In [107]:
car_sales

,Make,Colour,Odometer (KM),Doors,Price,Seats,Fuel per 100 KM,Total Fuel used in Litres,Number of wheels,Odometer(Miles)
0,toyota,White,150043,4,4000.0,5.0,7.5,11253.225,4,93776.875
1,honda,Red,87899,4,5000.0,5.0,6.8,5977.132,4,54936.875
2,toyota,Blue,32549,3,7000.0,5.0,9.0,2929.410,4,20343.125
3,bmw,Black,11179,5,22000.0,5.0,8.9,994.931,4,6986.875
4,nissan,White,213095,4,3500.0,5.0,8.2,17473.790,4,133184.375
5,toyota,Green,99213,4,4500.0,5.0,7.9,7837.827,4,62008.125
6,honda,Blue,45698,4,7500.0,5.0,9.0,4112.820,4,28561.250
7,honda,Blue,54738,4,7000.0,5.0,8.1,4433.778,4,34211.250
8,toyota,White,60000,4,6250.0,5.0,6.8,4080.000,4,37500.000
9,nissan,White,31600,4,9700.0,5.0,7.7,2433.200,4,19750.000